<h4>User</h4>

<% @patient.user do |user| %>
	<div class="field">
	  <%= f.label user.email %><br>
	  <div class="controls">
	    <%= f.email_field user.email %>
	  </div>
	</div>
<% end %>
